.play{
  width:100px;
  height:100px;
  outline: none;
}
.round {
  width: 100px;
  height: 100px;
  background: #ffffff;
 -moz-border-radius: 50px;
 -webkit-border-radius: 50px;
  border-radius: 50px;
  outline: none;
  text-align:center;
  margin-left:45px;
}
.round1{
  width: 100px;
  height: 100px;
  background: #ffffff;
 -moz-border-radius: 50px;
 -webkit-border-radius: 50px;
  border-radius: 50px;
  outline: none;
  text-align:center;
  margin:10px;
}
.round:focus{
  border: 1px solid #fd0;
}
.round1:focus{
  border: 1px solid green;
}
.ellipse{
  width: 200px;
  height: 50px;
  background: #ffffff;
  border-radius: 30px;
  outline: none;
  text-align:center;
  margin-top: 20px;
  margin-left: 130px;
}
.form{
  outline: none;
  margin-left:70px;
  width:  60px;
  height: 60px;
  background: #ffffff;
  border-radius: 50px;
}
